<div class="sidebar">

    <div class="menu-item">
        🏠 <a href="/src/static">Inicio</a>
    </div>

    <div class="menu-item">
        👩‍🦰 <a href="/pessoas-fisicas">Pessoa Física</a>
    </div>

    <div class="menu-item">
        👩‍⚖️ <a href="/pessoas-juridicas">Pessoa Jurídica</a>
    </div>

    <div class="menu-item">
        🎓 <a href="/alunos">Aluno</a>
    </div>

    <div class="menu-item">
        👩‍🏫 <a href="/professores">Professor</a>
    </div>

    <div class="menu-item">
        🚚 <a href="/fornecedores">Fornecedor</a>
    </div>

    <div class="menu-item">
        ❌ <a href="/sair">Sair</a>
    </div>

</div>
